
@font-face{
	font-family: display-font;
	src: url(assets/font/JosefinSans.ttf);	
}


@font-face{
	font-family: body-font;
	src: url(assets/font/OpenSans.ttf);	
}

h1{
	font-weight: medium;
	font-family: display-font;
}

h2{
	font-weight: medium;
	font-family: display-font;
}

.normal-text{
	font-size: 1rem;
	line-height: 1.6;
	color: #dddddd;
	font-family: body-font;
}

body{
	background-color: #100505;
	color: white;
	font-family: body-font;
	height: 500rem;
}

section{
	height: 100vh;
	//margin-top: 10rem;
	overflow: hidden;
}


#top-bar{
	top: 0;
	left: 0;
	position: fixed;
	margin: 0;
	padding: 0;
	height: 10rem;
	width: 100vw;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

#main-title{
	top: 0; 
	position: sticky;

    text-align: center;
	font-weight: bold;
	font-family: display-font;
	margin-top: 30vh;
	font-size: 5rem;
	background-image: linear-gradient(15deg, rgb(255, 150, 50), rgb(255, 50, 150));
	color: transparent;
	
	background-clip: text;
    -webkit-background-clip: text;
    
    padding: 20px 0;
    transition: all 0.3s ease;
    height: 5rem;
}

#main-title.fixed-title{
	top: 0; 
	position: sticky;
    font-size: 2rem;
    height: 5rem;
    transition: all 0.3s ease;
    left: 0;
    right: 0;
}

#main-title.fixed-title #main-title-text{
	display: inline-block;
	padding: 0.5rem;
	font-size: 2rem;
	transition: all 0.3s ease;
}

#main-title.fixed-title #main-title-text:hover {
	cursor: pointer;
	font-size: 2.3rem;
	transition: all 0.3s ease;
}

#sub-title {
    text-align: center;
	font-weight: bold;
	font-family: display-font;

	font-size: 60px;
	background-image: linear-gradient(0deg, rgb(175, 50, 100), rgb(75, 25, 50));
	background-position: center;
	background-size: cover;
	color: transparent;
	background-clip: text;
    -webkit-background-clip: text;
}

#title-page{
	margin-bottom: 12rem;

}

.social-icon {
	transition: all 0.3s ease;
}

.social-icon:hover {
	transform: scale(1.2);
	transition: all 0.3s ease;
}

#bio-page {
	/*margin-top: 10rem;*/
	width: 100%;
}

#bio-left {
	flex: 1;
	float: left;
    padding: 50px;
    box-sizing: border-box;
    width: 50vw; 
}
#bio-image {
	width: 24rem;
	float: right;
}
#bio-text {
	padding: 0;
	color: white;
    margin-left: calc(50vw);
    width: 24rem;
}
/*
#skills-page {
	padding: 10rem;
}*/

#skills-svg {
	display: block;
	margin: auto;
}

.skill-text {
	font-family: display-font;
	font-weight: 600;
	dominant-baseline: middle;
	text-anchor: middle;
}

.skill-text:hover {
	cursor: default;
}

